<div id="fade" class="hide">
			 <div id="modal_card" class="hide">
				  <h2>Faça seu Login</h2><br>
				  <label for="nome">Login:</label>
				  <input type="text" name= "login" id="login" placeholder= "Digite seu nome"><br>
				  <label for="senha">Senha:</label>
				  <input type="text" name= "senha" id="senha" placeholder= "Digite sua senha"><br>
				  <input type="submit"  onclick="acessLogin()"  id="Entrar" value="Entrar"><br>
				  <a href="#" onclick="loginModal()"> Esqueceu sua senha?</a><br>
				  <a href="cadastro.html" id="Cadastre-se">Cadastre-se</a>
				  <a href="index.html" id="X">X</a>
				  
				  <div id="wrongPassword">
				  </div>
				  
			  </div>
		  </div>
		  
		<script src="recursos/js/app.js"></script>	